extends layout

block content
  .row
    .col-md-8

      h2 Generate Hash from Password
      form.form-horizontal
        .form-group
          .col-sm-offset-2.col-sm-10
            span#helpBlock.help-block Type a password, click 'Generate Hash' and we'll show you the bcrypt'd hash.
        .form-group
          label.col-sm-2.control-label(for="password1") Password
          .col-sm-10
            input#password1.form-control(placeholder="Password" type="text")
        .form-group
          label.col-sm-2.control-label(for="cost") Cost
          .col-sm-10
            input#cost1.form-control(placeholder="4..10" type="text")
            span#helpBlock.help-block Provide a number between 4 and 10 (higher or lower values not permitted).
        .form-group
          label.col-sm-2.control-label Hash
          .col-sm-10
            code#hash1 ...
        .form-group
          .col-sm-offset-2.col-sm-10
            button#generate-hash.btn.btn-primary(type="button") Generate Hash
      h2 Check Password
      form.form-horizontal
        .form-group
          .col-sm-offset-2.col-sm-10
            span#helpBlock.help-block Type a password, paste a bcrypt hash and we'll tell you if they match.
        .form-group
          label.col-sm-2.control-label(for="password2") Password
          .col-sm-10
            input#password2.form-control(placeholder="Password" type="text")
        .form-group
          label.col-sm-2.control-label(for="hash2") Hash
          .col-sm-10
            input#hash2.form-control(placeholder="Bcrypt Hash" type="text")
        .form-group
          label.col-sm-2.control-label Same?
          .col-sm-10
            code#same ...
        .form-group
          label.col-sm-2.control-label Cost
          .col-sm-10
            code#cost2 ...
        .form-group
          .col-sm-offset-2.col-sm-10
            button#check-password.btn.btn-primary(type="button") Check Password

    .col-md-4
      h3 About
      p Use this site from inside your tests so that you can externally verify that your use of bcrypt is correct.
      h3 Important
      p Do not type any password that you currently use. This site is for experimentation and testing purposes only.

  .row
    .col

      h2 API

      h3 Generate Hash
      p Hit this endpoint to generate a hash from a password.
      p Firstly, set up an environment variable with the password:
      pre.
        $ PASSWORD=super-secret

      h4 Curl
      pre.
        $ curl --verbose --request POST --data "password=$PASSWORD" http://bcrypt.org/api/generate-hash.json
        {"ok":true,"msg":"","password":"super-secret","hash":"$2a$06$q1hUUfwVhEAuxIHLyv9fOukjBUHtZBu7slIAOpwuflmwsquQFBJ.a","cost":6}

      h4 Wget
      pre.
        $ wget --post-data "password=$PASSWORD" http://bcrypt.org/api/generate-hash.json
        $ cat generate-hash.json
        {"ok":true,"msg":"","password":"super-secret","hash":"$2a$06$u91uvrUvSXl3yHJqsPdZdO6HQrIZvfYDHoj6123VYm37b.V5DUdDG","cost":6}

      h3 Check Password
      p Hit this endpoint to check your hash checks out for your password.
      p Firstly, set up two environment variables with the password and the hash to check against:
      pre.
        $ PASSWORD=super-secret
        $ HASH='$2a$06$8DhuLEJC5PS8a8XfuvybUOqwLj4ykJ091lyVBF8R9GlYstIfZMjVm'

      h4 Curl
      pre.
        $ curl --verbose --request POST --data "hash=$HASH&password=$PASSWORD" http://bcrypt.org/api/check-password.json
        {"ok":true,"msg":"","password":"super-secret","hash":"$2a$06$8DhuLEJC5PS8a8XfuvybUOqwLj4ykJ091lyVBF8R9GlYstIfZMjVm","cost":6}

      h4 Wget
      pre.
        $ wget --post-data "hash=$HASH&password=$PASSWORD" http://bcrypt.org/api/check-password.json
        $ cat check-password.json
        {"ok":true,"msg":"","password":"super-secret","hash":"$2a$06$8DhuLEJC5PS8a8XfuvybUOqwLj4ykJ091lyVBF8R9GlYstIfZMjVm","cost":6}
